*{
    padding: 0;
    margin : 0;
}
header{
    display: flex;
    padding-top: 2%;
    padding-left: 6%;
    padding-bottom: 1%;
    /* background-color: red; */


}
body{
    height: 100vh;
    /* width: 100vw; */
    font-family: 'Poppins', sans-serif;

}
header li{
    display: inline;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 600;
}
header a{
    text-decoration: none;
    color: black;
}
header img{
    width:80%;
    
}
.menu{
    /* padding-left: 2%; */
    padding-left: 49%;
    padding-top: 1.3%;
}
.lside{ 
    flex-grow: 2;
    padding-left: 6%;
    padding-top: 11%;
    
    
}
.lside h1{
    font-size: 70px;
    line-height: 1.3;
}
.lside p{
    font-size: 17px;
    padding: 30px 0 10px 0;
}
.darrow{
    display: block;
    padding-left: 80%;
}
.lside button{
    padding: 20px 50px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    background-color: #20BC7E;
}
.mouse{
    position: relative;
    top:25px;
    padding-left: 50%;
    /* padding-top: 50%; */
    /* margin-top: 200px; */
}
.rside{
    position: relative;
    /* padding-left: 30%; */
    justify-self: end;

}
.cir{
    width: 75%;
    position: absolute;
    top:190px;
    left: 160px;
}
main{
    display: flex;
    background-image: url("../images/stethoscope.png");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: 43%;

    
}
.ocir{
    left:230px;
    top:260px;
    width: 65%;
}
.doc{
    width: 80%;
    z-index: 2;
    position: relative;
    left: 20%;
    top: 1.5%;
}
a:hover{
    color: #20BC7E;
    
}
.color{
    color: #20BC7E;

}